@{
    ViewData["Title"] = "Tablets";
}

@model string

<div class="container">
    <div class="form-floating mb-3">
        <input type="text" class="form-control" id="searchInput" placeholder="Search" onkeyup="search()"/>
        <label for="searchInput">Search</label>
    </div>
    @Html.Raw(Model)
</div>

@section Scripts
{
    <script type="text/javascript">
        function search() {
            let input = document.getElementById('searchInput');
            let filter = input.value.toUpperCase();
            let table = document.getElementById('tablets');
            let rows = table.getElementsByTagName('tr');

            for (i = 0; i < rows.length; i++) {
                let row = rows[i];
                let td = row.getElementsByTagName('td')[0];
                if (td) {
                    let content = td.textContent || td.innerText;
                    row.style.display = content.toUpperCase().indexOf(filter) >= 0 ? '' : 'none';
                }
            }
        }
    </script>
}