/*!
  Theme: Bootswatch Darkly
  Description: Bootswatch Darkly theme for hljs
  Touched: 2022
*/
pre code.hljs {
    display: block;
    overflow-x: auto;
    padding: 1em
}

code.hljs {
    padding: 3px 5px
}

.hljs {
    background: #303030;
    color: #fff
}

.hljs-comment {
    color: #888
}

.hljs-punctuation,
.hljs-tag {
    color: #444a
}

.hljs-tag .hljs-attr,
.hljs-tag .hljs-name {
    color: #444
}

.hljs-attribute,
.hljs-doctag,
.hljs-keyword,
.hljs-meta .hljs-keyword,
.hljs-name,
.hljs-selector-tag {
    font-weight: 700
}

.hljs-deletion,
.hljs-number,
.hljs-quote,
.hljs-selector-class,
.hljs-selector-id,
.hljs-string,
.hljs-template-tag,
.hljs-type {
    color: #3498db
}

.hljs-section,
.hljs-title {
    color: #3498db;
    font-weight: 600
}

.hljs-link,
.hljs-operator,
.hljs-regexp,
.hljs-selector-attr,
.hljs-selector-pseudo,
.hljs-symbol,
.hljs-template-variable,
.hljs-variable {
    color: #e74c3c
}

.hljs-literal {
    color: #00bc8c
}

.hljs-addition,
.hljs-built_in,
.hljs-bullet,
.hljs-code {
    color: #fd7e14
}

.hljs-meta {
    color: #375a7f
}

.hljs-meta .hljs-string {
    color: #375a7f
}

.hljs-emphasis {
    font-style: italic
}

.hljs-strong {
    font-weight: 700
}
