@{
    string subTitle = @ViewBag.Title;
    string pageTitle = subTitle != null ? $"{subTitle} - OpenTabletDriver" : "OpenTabletDriver";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>@pageTitle</title>
    <partial name="_Styles"/>
    @await RenderSectionAsync("Styles", required: false)
</head>
<body>
<partial name="_LayoutHeader"/>
<div class="container">
    <main role="main" class="pb-3">
        <partial name="Wiki/_Header"/>
        <div class="container">
            <div class="row">
                <div class="col-xs-12 col-sm-auto">
                    <strong>Contents</strong>
                    <ul id="wiki-navigation"></ul>
                </div>
                <div class="col">
                    @RenderBody()
                </div>
            </div>
        </div>
    </main>
</div>

<partial name="_Scripts"/>
<script type="text/javascript">
    document.onreadystatechange = function () {
        if (document.readyState == 'complete') {
            let navList = document.getElementById('wiki-navigation');
            let navItems = document.querySelectorAll('.wiki-nav-item');
            navItems.forEach(function (item) {
                let itemName = item.textContent;
                let id = item.id;
                navList.innerHTML +=
                    '<li>' +
                        '<a class=\'link-light text-bold\' href=\'#' + id + '\'>' + itemName + '</a>' +
                    '</li>';
            });
        }
    }
</script>
@await RenderSectionAsync("Scripts", required: false)
</body>
</html>