@{
    ViewBag.Title = "Wiki";
    int imageSize = 175;
}

<partial name="Wiki/_Header"/>

<div class="pb-2">
    <div class="container mb-3">
        <div class="row row-cols-1 row-cols-md-2 row-cols-xl-3 g-3">
            <div class="col">
                <div class="card">
                    <div class="card-header">
                        <h4 class="pt-2 text-center">Windows</h4>
                    </div>
                    <div class="d-flex justify-content-center">
                        <img class="pt-4 pb-2" height="@imageSize" src="~/images/platform/Windows_logo_-_2012_derivative.svg"/>
                    </div>
                    <div class="card-body d-flex flex-column mx-1">
                        <a class="btn btn-primary my-1" href="Wiki/Install/Windows">
                            Installation Guide
                        </a>
                        <a class="btn btn-secondary my-1" href="Wiki/FAQ/Windows">
                            FAQ
                        </a>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card">
                    <div class="card-header">
                        <h4 class="pt-2 text-center">Linux</h4>
                    </div>
                    <div class="d-flex justify-content-center">
                        <img class="pt-4 pb-2" height="@imageSize" src="~/images/platform/TuxFlat.svg"/>
                    </div>
                    <div class="card-body d-flex flex-column mx-1">
                        <a class="btn btn-primary my-1" href="Wiki/Install/Linux">
                            Installation Guide
                        </a>
                        <a class="btn btn-secondary my-1" href="Wiki/FAQ/Linux">
                            FAQ
                        </a>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card">
                    <div class="card-header">
                        <h4 class="pt-2 text-center">MacOS</h4>
                    </div>
                    <div class="d-flex justify-content-center">
                        <img class="pt-4 pb-2" height="@imageSize" src="~/images/platform/Apple_Computer_Logo_rainbow.svg"/>
                    </div>
                    <div class="card-body d-flex flex-column mx-1">
                        <a class="btn btn-primary my-1" href="Wiki/Install/MacOS">
                            Installation Guide
                        </a>
                        <a class="btn btn-secondary my-1" href="Wiki/FAQ/MacOS">
                            FAQ
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="mb-3">
        <h3>Frequently Asked Questions</h3>
        <ul>
            <li>
                <a class="link-light" href="Wiki/FAQ/General">General OpenTabletDriver FAQ</a>
            </li>
        </ul>
    </div>
</div>