@{
    ViewBag.Title = "Wiki";
    Layout = "_Layout";
}

<partial name="Wiki/_Header"/>

<div class="pb-2">
    <partial name="_PlatformCards"/>

    <div class="mb-3">
        <h3>Frequently Asked Questions</h3>
        <ul>
            <li>
                <a class="link-light" href="Wiki/FAQ/General">General OpenTabletDriver FAQ</a>
            </li>
        </ul>
    </div>

    <div class="mb-3">
        <h3>Development</h3>
        <ul>
            <li>
                <a class="link-light" href="Wiki/Development/Configurations">Writing OpenTabletDriver Configurations</a>
            </li>
        </ul>
    </div>
</div>