@model MarkdownViewModel

@{
    ViewBag.Title = Model!.Metadata["title"];
}

<div class="markdown-content">
    @Model.Content
</div>

@section Styles
{
    <style>
        .markdown-content > table > thead > tr > th:last-child,
        .markdown-content > table > tbody > tr > td:last-child {
            width: 65%;
        }

        .markdown-content > table {
            margin-left: 1rem;
            width: calc(100% - 1rem)
        }

        .markdown-content > h3 {
            margin-bottom: .5rem
        }
        .markdown-content > h4 {
            margin-left: 1rem
        }
        .markdown-content > p {
            margin-left: 1rem
        }

        .markdown-content > blockquote > p {
            color: #888;
            font-size: small;
            margin-left: 2rem
        }
    </style>
}
