<header>
    <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-dark bg-dark border-bottom border-dark box-shadow mb-3">
        <div class="container">
            <img class="pr-3" src="~/otd.png" height="64">
            <a class="navbar-brand text-white ms-3" asp-area="" asp-controller="Home" asp-action="Index">OpenTabletDriver</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                <ul class="navbar-nav flex-grow-1">
                    <li class="nav-item">
                        <a class="nav-link text-light" asp-controller="Home" asp-action="Index">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-light" asp-controller="Tablets" asp-action="Index">Tablets</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-light" asp-controller="Plugins" asp-action="Index">Plugins</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-light" asp-controller="Wiki" asp-action="Index">Wiki</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-light" asp-controller="Changelog" asp-action="Index">Changelog</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-light" asp-controller="GitHub" asp-action="Index">GitHub</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-light" asp-controller="Discord" asp-action="Index">Discord</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</header>