@{
    ViewBag.Title = "Configurations";
    string repoUrl = "https://github.com/OpenTabletDriver/OpenTabletDriver";
}

<h3 class="wiki-nav-item pb-2" id="general">
    Device Information
</h3>
<div class="ms-3">
    <p>
        Generic device identification information is required for OpenTabletDriver in order for it to be able
        to differentiate tablets.
    </p>

    <table class="table table-hover text-center">
        <tr>
            <th>Property Name</th>
            <th>Value Type</th>
            <th class="text-start w-75">Description</th>
        </tr>

        <tr>
            <td>Name</td>
            <td>
                <code>string</code>
            </td>
            <td class="text-start">
                The name of the device. This is always the device manufacturer's name followed by the device's
                model number or product name when not applicable.
            </td>
        </tr>
    </table>
</div>

<hr/>

<h3 class="wiki-nav-item pb-2" id="specifications">
    Specifications
</h3>
<div class="ms-3">
    <p>
        Tablet configuration specifications provide OpenTabletDriver with information it needs in order to
        correctly and accurately handle the data the tablet device outputs.
    </p>

    <h4 id="specifications-digitizer">Digitizer</h4>
    <div class="ms-3">
        <p>
            This refers to the graphics tablet's digitizer, which provides coordinates of where the tool is
            positioned. This is always required for the device to function.
        </p>

        <table class="table table-hover text-center">
            <tr>
                <th>Property Name</th>
                <th>Value Type</th>
                <th>Units</th>
                <th class="text-start w-50">Description</th>
            </tr>

            <tr>
                <td>Width</td>
                <td>
                    <code>double</code>
                </td>
                <td>mm</td>
                <td class="text-start">
                    The width of the digitizer in millimeters.
                </td>
            </tr>
            <tr>
                <td>Height</td>
                <td>
                    <code>double</code>
                </td>
                <td>mm</td>
                <td class="text-start">
                    The height of the digitizer in millimeters.
                </td>
            </tr>
            <tr>
                <td>Horizontal Resolution</td>
                <td>
                    <code>double</code>
                </td>
                <td>Device Units</td>
                <td class="text-start">
                    The horizontal resolution of the digitizer in device units.
                </td>
            </tr>
            <tr>
                <td>Vertical Resolution</td>
                <td>
                    <code>double</code>
                </td>
                <td>Device Units</td>
                <td class="text-start">
                    The vertical resolution of the digitizer in device units.
                </td>
            </tr>
        </table>
    </div>

    <h4>Pen</h4>
    <div class="ms-3">
        <p>
            This refers to the pen tool for the graphics tablet. It is the source of position and typically the
            source of pressure data. This is almost always required.
        </p>

        <table class="table table-hover text-center">
            <tr>
                <th>Property Name</th>
                <th>Value Type</th>
                <th class="text-start w-75">Description</th>
            </tr>

            <tr>
                <td>Max Pressure</td>
                <td>
                    <code>uint</code>
                </td>
                <td class="text-start">
                    The maximum pressure reported by the pen in device pressure units.
                    This is used to calculate a percentage of pressure.
                </td>
            </tr>
            <tr>
                <td>Button Count</td>
                <td>
                    <code>uint</code>
                </td>
                <td class="text-start">
                    The amount of buttons on the pen. This does not include the eraser, as the eraser is just
                    reported as a flag for the device.
                </td>
            </tr>
        </table>
    </div>

    <h4 id="specifications-auxiliary-buttons">Auxiliary Buttons</h4>
    <div class="ms-3">
        <p>
            This refers to any buttons located on the graphics tablet pad. This should only be enabled if there
            are any auxililary buttons.
        </p>

        <table class="table table-hover text-center">
            <tr>
                <th>Property Name</th>
                <th>Value Type</th>
                <th class="text-start w-75">Description</th>
            </tr>

            <tr>
                <td>Button Count</td>
                <td>
                    <code>uint</code>
                </td>
                <td class="text-start">
                    The amount of buttons.
                </td>
            </tr>
        </table>
    </div>

    <h4>Touch</h4>
    <div class="ms-3">
        <p>
            This refers to the touch digitizer, which may be built into the pen digitizer. This exists as the
            resolution of the touch digitizer can be different than the pen digitizer. This should only be
            enabled if the graphics tablet supports touch input.
        </p>
        <p>
            This has the same properties as the <a href="#specifications-digitizer">digitizer</a>.
        </p>
    </div>

    <h4>Mouse</h4>
    <div class="ms-3">
        <p>
            This refers to an absolute positioning mouse tool. This should only be enabled if the graphics
            tablet supports a mouse.
        </p>
        <p>
            This has the same properties as the
            <a href="#specifications-auxiliary-buttons">auxiliary buttons</a>.
        </p>
    </div>
</div>

<hr/>

<h3 class="wiki-nav-item pb-2" id="identifiers">
    Identifiers
</h3>
<div class="ms-3">
    <p>
        Device identifiers are what actually detect the tablet. Anything defined here is used in the
        detection process to pinpoint devices.
    </p>

    <table class="table table-hover text-center">
        <tr>
            <th class="w-25">Property Name</th>
            <th>Value Type</th>
            <th class="text-start w-75">Description</th>
        </tr>

        <tr>
            <td>Vendor ID</td>
            <td>
                <code>ushort</code>
            </td>
            <td class="text-start">
                A USB-IF defined identifier that defines which vendor the device is produced by.
                Since this is assigned by the USB-IF it can be quite reliable for determining
                the manufacturer.
            </td>
        </tr>
        <tr>
            <td>Product ID</td>
            <td>
                <code>ushort</code>
            </td>
            <td class="text-start">
                A vendor-defined identifier for the device. This can be used to identify a device,
                however this can be unreliable as it depends on the vendor defining it different
                for all of their devices.
            </td>
        </tr>
        <tr>
            <td>Input Report Length</td>
            <td>
                <code>ushort</code>
            </td>
            <td class="text-start">
                The length of input reports from the device. This is always required as report parsers
                expect a specific report length.
            </td>
        </tr>
        <tr>
            <td>Output Report Length</td>
            <td>
                <code>ushort</code>
            </td>
            <td class="text-start">
                The length of output reports to the device endpoint. This is not always required,
                however it does help make the detection more precise.
            </td>
        </tr>
        <tr>
            <td>Report Parser</td>
            <td>
                <code>string</code>
            </td>
            <td class="text-start">
                The parser that will read and convert all tablet report data into a format that
                OpenTabletDriver understands. This is the full namespace and the class name.
                <br/>
                <small class="text-muted ms-3">
                    Note: All supported vendor-specific report parsers can be found
                    <a class="link-light" href="@repoUrl/tree/HEAD/OpenTabletDriver.Configurations/Parsers">here</a>
                </small>
            </td>
        </tr>
        <tr>
            <td>Feature Initialization Report</td>
            <td>
                <code>List&lt;byte[]&gt;</code>
            </td>
            <td class="text-start">
                A list of feature reports to be sent to the device to perform the device's initialization sequence.
            </td>
        </tr>
        <tr>
            <td>Output Initialization Report</td>
            <td>
                <code>List&lt;byte[]&gt;</code>
            </td>
            <td class="text-start">
                A list of output reports to be sent to the device to perform the device's initialization sequence.
            </td>
        </tr>
        <tr>
            <td>Device Strings</td>
            <td>
                <code>Dictionary&lt;byte, string&gt;</code>
            </td>
            <td class="text-start">
                A list of regular expressions for specific indexes of device strings contained within the device's
                firmware. This is optional however is used commonly to improve detection precision. Device strings
                can be retreived using the device string reader.
            </td>
        </tr>
        <tr>
            <td>Initialization String Indexes</td>
            <td>
                <code>byte[]</code>
            </td>
            <td class="text-start">
                A list of indexes to be retrieved from the device as part of the device's initialization sequence.
                This is optional, and very infrequently used.
            </td>
        </tr>
    </table>

    <p>
        <small class="text-muted ms-3">
            Note: Byte arrays (<code>byte[]</code>) are serialized as Base64 in JSON.NET, the library that
            serializes and deserializes configurations.
        </small>
    </p>
</div>

<h3 class="wiki-nav-item pb-2">
    Attributes
</h3>
<div class="ms-3">
    <p>
        Attributes are used as platform specific properties to be used within utilties or tools.
        These aren't typically required for functionality.
    </p>
</div>