@{
    ViewBag.Title = "Linux FAQ";
}

<h3 class="wiki-nav-item pb-2" id="tablet-not-detected">
    My tablet is not detected?
</h3>
<div class="ms-3">
    <p>
        This can be caused by lots of things on Linux, for sanity reasons make sure that your tablet is actually plugged in to your computer,
        you can usually check this with a gui utility or with an application like <code>lsusb</code>,
        once you are 100% sure your tablet is connected to your computer, ensure that your specific tablet make and model is supported by checking our list of supported tablets
        <a href="/Tablets">here</a>.<br/><br/>

        We currently do not support tablets that connect directly to a computer via bluetooth, and have limited support for ones that use wireless USB receivers,
        so please make sure your tablet is connected via cable.<br/>
        If your tablet is supported and this is a fresh install of OpenTabletDriver, try restarting your computer.
    </p>
    <h4>It is a supported tablet, but still doesn't detect after a reboot?</h4>
    <p>
        If you are running OpenTabletDriver.UX, navigate from the top to the Console tab, if you are running the daemon standalone, look for a log that resembles the following:<br/>

    <h5>hid_uclogic kernel module interefence</h5>
        <codeblock>
        Another tablet driver found: UC Logic
        ArgumentOutOfRangeException Value range is [0, 15]. (Parameter 'value')
        </codeblock>
        These errors may happen if the <code>hid_uclogic</code> kernel module is loaded at the same time as OpenTabletdriver, you can remove
        and blacklist this module to stop it from loading in the future by running the following commands:
        <codeblock class="mt-2", language="bash">
            echo "blacklist hid_uclogic" | sudo tee -a /etc/modprobe.d/blacklist.conf
            sudo rmmod hid_uclogic
        </codeblock>

    <h5>Missing udev rules</h5>
        <codeblock>
            placeholder
        </codeblock>
        If you have followed the previous instructions, usually this is the only reason OTD will fail to detect your tablet when its supported.
        The issue is resolved my making sure that you have proper udev rules set up. If you installed OpenTabletDriver via your package manager,
        you may just need to reload and trigger the rules. You can make sure of this by following the instructions below.

        <codeblock class="mt-2" language="bash">
            sudo udevadm control --reload-rules
            sudo udevadm trigger
        </codeblock>

        If you installed OTD without using a package manager, its very likely  you don't have the required udev rules at all, and must build your own.
        This process requires the dotnet 7 sdk to do, but here is a set of instructions below to complete this.
        <codeblock class="mt-2" language="bash">
            # Clone the repository, change current directory to the repository
            git clone https://github.com/OpenTabletDriver/OpenTabletDriver.git
            cd ./OpenTabletDriver
            # Generate rules, moves them to the udev rules directory
            ./generate-rules.sh
            sudo mv ./bin/99-opentabletdriver.rules /etc/udev/rules.d/99-opentabletdriver.rules
            # Reload udev rules
            sudo udevadm control --reload-rules
            # Clean up leftovers
            cd ..
            rm -rf OpenTabletDriver
        </codeblock>
    </p>
    <h4>It is not a supported tablet, what can I do about that?</h4>
    <p>
        If you want to add support for your tablet on your own, feel free to look at a similar configuration on our GitHub and our configuration documentation.<br/>
        If you would like help with supporting your tablet, or would prefer us to do it join our <a href="/Discord">Discord</a> and toss a message in <code>#configs</code> or a support channel.
    </p>
</div>

<hr/>

<h3 class="wiki-nav-item pb-2" id="ghost-cursor">
    My cursor is teleporting?
</h3>
<div class="ms-3">
    <p>
        This occurs when another program is reading the tablet at the same time as OpenTabletDriver. The solution to this is usually very simple:
        <codeblock class="mt-2" language="bash">
            echo "blacklist wacom" | sudo tee -a /etc/modprobe.d/blacklist.conf
            sudo rmmod wacom
        </codeblock>
    </p>
</div>

<hr/>

<h3 class="wiki-nav-item pb-2" id="argumentoutofrangeexception">
    Device is currently in use
</h3>
<div class="ms-3">
    <p>
        This occurs typically due to the <code>hid_uclogic</code> kernel module taking priority over OpenTabletDriver.
    </p>
    <ol>
        <li>
            Run the following commands, then replug your tablet
            <codeblock class="mt-2" language="bash">
                echo "blacklist hid_uclogic" | sudo tee -a /etc/modprobe.d/blacklist.conf
                sudo rmmod hid_uclogic
            </codeblock>
        </li>
    </ol>
</div>

<hr/>


<h3 class="wiki-nav-item pb-2" id="blacklisted-modules-loading">
    I blacklisted the modules, but they load on startup?
</h3>
<div class="ms-3">
    <p>
        This issue can be caused by either your initramfs not containing the instructions to not load the modules
        or another crucial service loading the module despite it being blacklisted. You will have to find that service
        yourself if the solution below does not solve your issue.

        Rebuilding the initramfs is an easy process, but the commands to do this vary between distro.
    </p>
    <h3>
        Arch
    </h3>
        <ol>
            <codeblock class="mt-2" language="bash">
                sudo mkinitcpio -P
            </codeblock>
        </ol>
    <h3>
        Debian / Ubuntu
    </h3>
    <ol>
        <codeblock class="mt-2" language="bash">
            sudo update-initramfs -u
        </codeblock>
    </ol>
</div>

<hr/>

<h3 class="wiki-nav-item pb-2" id="fail-device-streams">
    Failed to open device streams
</h3>
<div class="ms-3">
    <p>
        This occurs due to a lack of permissions to open a device stream.
        It is resolved by creating udev rules that give these permissions.
        <br/>
        If you installed OpenTabletDriver via your package manager,
        you may need to run the following command then replug your tablet.
        <codeblock class="mt-2">
            sudo udevadm control --reload-rules
        </codeblock>
    </p>
    <p>
        If this does not work, run the following commands
    </p>
    <codeblock class="mt-2" language="bash">
        # Clone the repository, change current directory to the repository
        git clone https://github.com/OpenTabletDriver/OpenTabletDriver.git
        cd ./OpenTabletDriver
        # Generate rules, moves them to the udev rules directory
        ./generate-rules.sh
        sudo mv ./bin/99-opentabletdriver.rules /etc/udev/rules.d/99-opentabletdriver.rules
        # Reload udev rules
        sudo udevadm control --reload-rules
        # Clean up leftovers
        cd ..
        rm -rf OpenTabletDriver
    </codeblock>
</div>

<hr/>

<h3 class="wiki-nav-item pb-2" id="fail-virtual-device">
    Failed to initialize virtual device
</h3>
<div class="ms-3">
    <h4>EACCESS</h4>
    <p>
        This occurs usually when the udev rules are not correct, or haven't been reloaded.
        Make sure your rules are correct by heading <a href="#fail-device-streams">here</a>.
    </p>
    <codeblock class="mt-2" language="bash">
        sudo udevadm control --reload-rules
        # Skips the step requiring a replug of the tablet.
        sudo udevadm trigger
        # Helps ensure that OpenTabletDriver uses the tablet correctly.
        systemctl --user restart opentabletdriver
    </codeblock>
    <p>If the commands above do not resolve your issue, reboot.</p>

    <h4>ENODEV</h4>
    <p>
        Rebooting is the only option here. Your kernel was very likely updated, or some component of
        uinput was modified which requires a reboot to resolve.
    </p>

    <h4>ENOENT</h4>
    <p>
        This error occurs when the CONFIG_INPUT_UINPUT kernel option is disabled. Make sure it is activated in
        your kernel config.<br/>
    </p>
    <h4>Gentoo</h4>
    <p>
        Check the option CONFIG_INPUT_UINPUT in /usr/src/linux.config. If it is not enabled, use the following steps
    </p>
    <codeblock class="mt-2" language="bash">
        cd /usr/src/linux
        sudo make menuconfig
    </codeblock>
    <p>
        Having done that, select y (for always active) or m (for building as a module) for the option in "Device Drivers
        --->
        Input Device Support ---> Miscellaneous devices ---> User level driver support" and rebuild the kernel.
    </p>
    <h4>Other Distros</h4>
    <p>
        Refer to your distribution's documentation regarding kernel configuration to enable this option.
    </p>
</div>

<hr/>

<h3>This doesn't work after rebooting?</h3>
<div class="ms-3">
    <p>
        This is probably due to your kernel not having uinput built in, either build your kernel with uinput
        support or use a different kernel.
    </p>
</div>

<hr/>

<h3 class="wiki-nav-item pb-2" id="performance-nvidia">
    Poor performance with NVIDIA
</h3>
<div class="ms-3">
    <ol>
        <li>Disable <code>Force full composition pipeline</code> in the NVIDIA settings panel.</li>
    </ol>
</div>

<hr/>

<h3 class="wiki-nav-item pb-2" id="osu-lazer-broken-input-wayland">
    Stuck cursor in osu!lazer (Wayland)
</h3>
<div class="ms-3">
    <ol>
        <li>Make sure you set the <code>SDL_VIDEODRIVER</code> to <code>wayland</code>.</li>
    </ol>
    <codeblock language="bash">
        # Export the environment variable
        export SDL_VIDEODRIVER=wayland
        # Start osu! lazer via the AppImage assuming its in the working directory
        ./osu.AppImage
    </codeblock>
</div>

<hr/>

<h3 class="wiki-nav-item pb-2" id="CTL-x100-android-mode">
    CTL-x100 is not detected
</h3>
<div class="ms-3">
<p>
    CTL-x100 tablets boots in Android mode instead of PC mode in some rare cases. To fix this, press
    the outer 2 express keys for 3-4 seconds until the LEDs change brightness. This toggles the tablet's operating mode
    between PC (high LED brightness) and Android mode (low LED brightness).
</p>

</div>

<hr/>

<h3 class="wiki-nav-item pb-2" id="display-session-not-detected">
    X11/Wayland Session not detected
</h3>
<div class="ms-3">
    <h4>X11 <small class="text-muted">(systemd)</small></h4>
    <div class="mx-3">
        <p>
            Your <code>.xinitrc</code> is likely configured improperly and the <code>DISPLAY</code> environment
            variable isn't set for systemd.<br/>
            Proper configuration for the <code>.xinitrc</code> file can be found
            <a href="https://wiki.archlinux.org/index.php/Xinit#Configuration">here</a>.<br/>
            <small class="ms-3 text-muted">
                Note: The fix below is just a quick and dirty fix to get OpenTabletDriver running and should
                instead be resolved as above.
            </small>
        </p>
        <ol>
            <li>
                Create an override file
                <codeblock class="mt-2" language="bash">
                    # Opens with whatever program is set to $EDITOR
                    systemctl --user edit opentabletdriver.service
                </codeblock>
            </li>
            <li>
                Add this block below the first 2 lines of the file, then save and exit
                <codeblock class="mt-2" language="ini">
                    [Service]
                    Environment=DISPLAY=:0
                </codeblock>
            </li>
            <li>
                Finally, run the following commands
                <codeblock class="mt-2" language="bash">
                    # Reload the systemd user daemon
                    systemctl --user daemon-reload
                    # Start the OpenTabletDriver daemon service (restarts if already running)
                    systemctl --user restart opentabletdriver.service
                </codeblock>
            </li>
        </ol>
    </div>

    <h4>Wayland <small class="text-muted">(systemd)</small></h4>
    <div class="mx-3">
        <ol>
            <li>
                Create an override file
                <codeblock class="mt-2" language="bash">
                    # Opens with whatever program is set to $EDITOR
                    systemctl --user edit opentabletdriver.service
                </codeblock>
            </li>
            <li>
                Add this block below the first 2 lines of the file, then save and exit
                <codeblock class="mt-2" language="ini">
                    [Service]
                    Environment=WAYLAND_DISPLAY=:0
                </codeblock>
            </li>
            <li>
                Finally, run the following commands
                <codeblock class="mt-2" language="bash">
                    # Reload the systemd user daemon
                    systemctl --user daemon-reload
                    # Start the OpenTabletDriver daemon service (restarts if already running)
                    systemctl --user restart opentabletdriver.service
                </codeblock>
            </li>
        </ol>
    </div>
</div>

<hr/>

<h3 class="wiki-nav-item pb-2" id="artist-mode">
    Enabling pressure using Artist Mode
</h3>
<div class="ms-3">
    <p>
        Pressure support is available by changing the output mode of OpenTabletDriver to Artist Mode.
        To do this, follow below.
    </p>
        <ol>
            <li>Change output mode (at the bottom left of OpenTabletDriver) to Artist Mode.</li>
            <li>Remove the Tip Binding in the Pen Settings panel by clicking the 3 dots, then pressing clear.</li>
            <li>Save your settings and try drawing in an applicantion that supports pressure.</li>
        </ol>
</div>
