@{
    ViewBag.Title = "Linux FAQ";
}

<h3 class="wiki-nav-item pb-2" id="ghost-cursor">
    Teleporting cursor position
</h3>
<div class="ms-3">
    <p>
        This occurs because another program is reading the tablet at the same time as OpenTabletDriver.
        <small>
            <a class="link-light" href="https://github.com/OpenTabletDriver/OpenTabletDriver/issues/68">#68</a>
        </small>
        <ol>
            <li>
                Perform the following commands in a terminal
                <codeblock class="mt-2" language="bash">
                    echo "blacklist wacom" | sudo tee -a /etc/modprobe.d/blacklist.conf
                    sudo rmmod wacom
                </codeblock>
            </li>
        </ol>
    </p>
</div>

<hr/>

<h3 class="wiki-nav-item pb-2" id="argumentoutofrangeexception">
    Device is currently in use
</h3>
<div class="ms-3">
    <p>
        This occurs typically due to the <code>hid_uclogic</code> kernel module taking priority over OpenTabletDriver.
    </p>
    <ol>
        <li>
            Run the following commands, then replug your tablet
            <codeblock class="mt-2" language="bash">
                echo "blacklist hid_uclogic" | sudo tee -a /etc/modprobe.d/blacklist.conf
                sudo rmmod hid_uclogic
            </codeblock>
        </li>
    </ol>
</div>

<hr/>

<div class="ms-3">
    <h3>
        The modules reload after rebooting?
    </h3>
    <p>
        The solution to this is to rebuild the initramfs. This process varies distro to distro.
    </p>
    <h3>
        Arch
    </h3>
        <ol>
            <codeblock class="mt-2" language="bash">
                sudo mkinitcpio -P
            </codeblock>
        </ol>
    <h3>
        Debian / Ubuntu
    </h3>
    <ol>
        <codeblock class="mt-2" language="bash">
            sudo update-initramfs -u
        </codeblock>
    </ol>
</div>

<hr/>

<h3 class="wiki-nav-item pb-2" id="fail-device-streams">
    Failed to open device streams
</h3>
<div class="ms-3">
    <p>
        This occurs due to a lack of permissions to open a device stream.
        It is resolved by creating udev rules that give these permissions.
        <br/>
        If you installed OpenTabletDriver via your package manager,
        you may need to run the following command then replug your tablet.
        <codeblock class="mt-2">
            sudo udevadm control --reload-rules
        </codeblock>
    </p>
    <p>
        If this does not work, run the following commands
    </p>
    <codeblock class="mt-2" language="bash">
        # Clone the repository, change current directory to the repository
        git clone https://github.com/OpenTabletDriver/OpenTabletDriver.git
        cd ./OpenTabletDriver
        # Generate rules, moves them to the udev rules directory
        ./generate-rules.sh
        sudo mv ./bin/99-opentabletdriver.rules /etc/udev/rules.d/99-opentabletdriver.rules
        # Reload udev rules
        sudo udevadm control --reload-rules
        # Clean up leftovers
        cd ..
        rm -rf OpenTabletDriver
    </codeblock>
</div>

<hr/>

<h3 class="wiki-nav-item pb-2" id="fail-virtual-device">
    Failed to initialize virtual device
</h3>
<div class="ms-3">
    <h4>EACCESS</h4>
    <p>
        This occurs usually when the udev rules are not correct, or haven't been reloaded.
        Make sure your rules are correct by heading <a href="#fail-device-streams">here</a>.
    </p>
    <codeblock class="mt-2" language="bash">
        sudo udevadm control --reload-rules
        # Skips the step requiring a replug of the tablet.
        sudo udevadm trigger
        # Helps ensure that OpenTabletDriver uses the tablet correctly.
        systemctl --user restart opentabletdriver
    </codeblock>
    <p>If the commands above do not resolve your issue, reboot.</p>

    <h4>ENODEV</h4>
    <p>
        Rebooting is the only option here. Your kernel was very likely updated, or some component of
        uinput was modified which requires a reboot to resolve.
    </p>
</div>

<hr/>

<h3>This doesn't work after rebooting?</h3>
<div class="ms-3">
    <p>
        This is probably due to your kernel not having uinput built in, either build your kernel with uinput
        support or use a different kernel.
    </p>
</div>

<hr/>

<h3 class="wiki-nav-item pb-2" id="performance-nvidia">
    Poor performance with NVIDIA
</h3>
<div class="ms-3">
    <ol>
        <li>Disable <code>Force full composition pipeline</code> in the NVIDIA settings panel.</li>
    </ol>
</div>

<hr/>

<h3 class="wiki-nav-item pb-2" id="osu-lazer-broken-input-wayland">
    Stuck cursor in osu!lazer (Wayland)
</h3>
<div class="ms-3">
    <ol>
        <li>Make sure you set the <code>SDL_VIDEODRIVER</code> to <code>wayland</code>.</li>
    </ol>
    <codeblock language="bash">
        # Export the environment variable
        export SDL_VIDEODRIVER=wayland
        # Start osu! lazer via the AppImage assuming its in the working directory
        ./osu.AppImage
    </codeblock>
</div>

<hr/>

<h3 class="wiki-nav-item pb-2" id="CTL-x100-android-mode">
    CTL-x100 is not detected
</h3>
<div class="ms-3">
<p>
    CTL-x100 tablets boots in Android mode instead of PC mode in some rare cases. To fix this, press
    the outer 2 express keys for 3-4 seconds until the LEDs change brightness. This toggles the tablet's operating mode
    between PC (high LED brightness) and Android mode (low LED brightness).
</p>

</div>

<hr/>

<h3 class="wiki-nav-item pb-2" id="display-session-not-detected">
    X11/Wayland Session not detected
</h3>
<div class="ms-3">
    <h4>X11 <small class="text-muted">(systemd)</small></h4>
    <div class="mx-3">
        <p>
            Your <code>.xinitrc</code> is likely configured improperly and the <code>DISPLAY</code> environment
            variable isn't set for systemd.<br/>
            Proper configuration for the <code>.xinitrc</code> file can be found
            <a href="https://wiki.archlinux.org/index.php/Xinit#Configuration">here</a>.<br/>
            <small class="ms-3 text-muted">
                Note: The fix below is just a quick and dirty fix to get OpenTabletDriver running and should
                instead be resolved as above.
            </small>
        </p>
        <ol>
            <li>
                Create an override file
                <codeblock class="mt-2" language="bash">
                    # Opens with whatever program is set to $EDITOR
                    systemctl --user edit opentabletdriver.service
                </codeblock>
            </li>
            <li>
                Add this block below the first 2 lines of the file, then save and exit
                <codeblock class="mt-2" language="ini">
                    [Service]
                    Environment=DISPLAY=:0
                </codeblock>
            </li>
            <li>
                Finally, run the following commands
                <codeblock class="mt-2" language="bash">
                    # Reload the systemd user daemon
                    systemctl --user daemon-reload
                    # Start the OpenTabletDriver daemon service (restarts if already running)
                    systemctl --user restart opentabletdriver.service
                </codeblock>
            </li>
        </ol>
    </div>

    <h4>Wayland <small class="text-muted">(systemd)</small></h4>
    <div class="mx-3">
        <ol>
            <li>
                Create an override file
                <codeblock class="mt-2" language="bash">
                    # Opens with whatever program is set to $EDITOR
                    systemctl --user edit opentabletdriver.service
                </codeblock>
            </li>
            <li>
                Add this block below the first 2 lines of the file, then save and exit
                <codeblock class="mt-2" language="ini">
                    [Service]
                    Environment=WAYLAND_DISPLAY=:0
                </codeblock>
            </li>
            <li>
                Finally, run the following commands
                <codeblock class="mt-2" language="bash">
                    # Reload the systemd user daemon
                    systemctl --user daemon-reload
                    # Start the OpenTabletDriver daemon service (restarts if already running)
                    systemctl --user restart opentabletdriver.service
                </codeblock>
            </li>
        </ol>
    </div>
</div>

<hr/>

<h3 class="wiki-nav-item pb-2" id="artist-mode">
    Enabling pressure using Artist Mode
</h3>
<div class="ms-3">
    <p>
        Pressure support is available by changing the output mode of OpenTabletDriver to Artist Mode.
        To do this, follow below.
    </p>
        <ol>
            <li>Change output mode (at the bottom left of OpenTabletDriver) to Artist Mode.</li>
            <li>Remove the Tip Binding in the Pen Settings panel by clicking the 3 dots, then pressing clear.</li>
            <li>Save your settings and try drawing in an applicantion that supports pressure.</li>
        </ol>
</div>