@{
    ViewBag.Title = "MacOS FAQ";
}

<partial name="Wiki/_Header"/>

<div class="d-flex">
    <div class="flex-fill">
        <h3>Nothing yet!</h3>
    </div>
    <partial name="Wiki/_Navigation"/>
</div>