@{
    ViewBag.Title = "Windows FAQ";
}

<h3 class="wiki-nav-item pb-2" id="tablet-not-detected">
    My tablet is not detected?
</h3>
<div class="ms-3">
    <p>
        Please check that your tablet is actually plugged in to your PC. Windows by default will indicate when a device is plugged in
        with a sound.<br/> If you do not get this sound consider replacing the cable (make sure the cable supports both power and data
        transfer).<br/><br/>

        Once you are sure that your tablet is connected to your computer, consider checking if your tablet is supported <a href="/Tablets">here</a>.<br/>
        In most cases we do not support wireless, so please make sure your tablet is connected via its cable.
    </p>
    <h4>It is a supported tablet, but still doesn't detect?</h4>
    <p>
        Please make sure that you have no other tablet drivers on the system. Follow the instructions for
        <a href="https://github.com/X9VoiD/TabletDriverCleanup/releases/latest">TabletDriverCleanup</a> and resume here.<br><br>

        Please check if your tablet requires WinUSB <a href="/Tablets">here</a> (it will say in the notes). If it does, follow the<br>
        <a href="/Wiki/Install/Windows#winusb">instructions</a> and return here. Continue below for troubleshooting instructions if your tablet still isn't detected.<br/><br/>

        If you are running OpenTabletDriver.UX, navigate from the top to the Console tab, if you are running the daemon standalone, look for a log that resembles the following:<br/>

    <h5>Tablet driver interefence</h5>

        <codeblock class="mt-2", language="sh">
            Another tablet driver found: &lt;name&gt;
        </codeblock>
        If you see this log message you should follow the instructions for <a href="https://github.com/X9VoiD/TabletDriverCleanup/releases/latest">TabletDriverCleanup</a>
        if you haven't already, making sure to say yes to everything. If the log entry is still there after following the instructions and restarting OTD, try
        joining our support <a href="/Discord">Discord</a> for further help.<br/>

    <h5>Invalid WinUSB driver installation state.</h5>
        <codeblock class="mt-2", language="sh">
            Failed to open file handle to WinUSB interface
            SafeHandle cannot be null. (Parameter 'pHandle')
        </codeblock>
        This is usually resolved when you restart your PC.<br/><br/>

        If nothing above applies, remove <code>%localappdata%/OpenTabletDriver</code> or the contents of the <code>userdata</code> folder next to the binaries (if applicable).<br/>
        If you still need more help after this, join our Discord and give us a shout in the <code>#support-windows</code> channel, mentioning what you have tried.
    </p>

    <h4>It is not a supported tablet, what can I do about that?</h4>
    <p>
        If you want to add support for your tablet on your own, feel free to look at a similar configuration on our GitHub and our configuration documentation.<br/>
        If you would like help with supporting your tablet, or would prefer us to do it join our <a href="/Discord">Discord</a> and toss a message in <code>#configs</code> or a support channel.
    </p>
</div>

<hr/>

<h3 class="wiki-nav-item pb-2" id="tablet-not-functioning-correctly">
    My tablet is detected, but my settings don't work.
</h3>
<div class="ms-3">
</div>

<hr/>
