@{
    ViewBag.Title = "Windows FAQ";
}

<h3 class="wiki-nav-item pb-2" id="uclogic-supported-undetected">
    Supported tablet not detected
</h3>
<div class="ms-3">
    <p>
        This is most commonly the result of manufacturer driver leftovers.<br/>
    </p>
    <ol>
        <li>
            Uninstall any tablet drivers that are currently installed.<br/>
            <em class="ms-3 text-danger">
                Deleting files is not a proper method to uninstall drivers,
                <strong>it will cause issues</strong>.
                Use the <strong>Settings</strong> app or <strong>Control Panel</strong> instead.
            </em>
        </li>
        <li>
            Use the <a href="https://github.com/X9VoiD/WinUSBCleanup/releases/latest">WinUSBCleanup</a>
            script to automatically clean up any leftovers that uninstallers failed to clean up.
        </li>
    </ol>
</div>

<hr/>

<h3 class="wiki-nav-item pb-2" id="ghost-cursor">
    Teleporting cursor position
</h3>
<div class="ms-3">
    <p>
        This occurs because another tablet driver is sending input. To resolve this, 
        uninstall all other tablet drivers on your computer, then replug your tablet.
    </p>
</div>

<hr/>

<h3 class="wiki-nav-item pb-2" id="win-ink">
    Windows Ink pressure support
</h3>
<div class="ms-3">
    <p>
        OpenTabletDriver has many plugins that implement different features. WindowsInk is
        one of these plugins, as given in the plugins name, it allows for use of the Windows Ink pressure api.
        To use it, follow below.
    </p>
    <ol>
        <li>Install <a href="https://github.com/X9VoiD/vmulti-bin/releases/latest">VMulti Driver</a> (This is NOT VMultiMode) </li>
        <li>Follow the instructions from the <a href="https://github.com/X9VoiD/VoiDPlugins/wiki/WindowsInk">WindowsInk wiki</a></li>
        <li>Make sure that the application you are trying drawing in is set to WindowsInk/Windows 8+ Mode and the brush you are using has pressure support!</li>
    </ol>
    <p class="text-muted">
        Note: Recently, a change in Windows made it so Windows Ink's and normal Mouse's cursor position is handled separately.
        This makes it so your cursor will appear to "jump" when switching from tablet to mouse while using Windows Ink output modes.
         This is not a bug of OpenTabletDriver but rather one of Windows.
    </p>
</div>

<hr/>

<h3 class="wiki-nav-item pb-2" id="connecting-to-daemon">
    Stuck at connecting to Daemon
</h3>
<div class="ms-3">
    <p>
        This is usually caused by one of two things. Either you didn't follow the <a href="/Wiki/Install/Windows">installation guide</a> correctly
        or the settings file is corrupted. To remedy this case follow this below.
    </p>
    <ol>
        <li>Press <kbd>Win</kbd> + <kbd>R</kbd> and type in <code>%localappdata%\OpenTabletDriver</code></li>
        <li>Delete or move the <code>settings.json</code> file from inside this folder.</li>
        <li>If this persists after also remove the <code>Plugins</code> folder.</li>
    </ol>
</div>

<hr/>

<h3 class="wiki-nav-item pb-2" id="startup">
    Open at startup
</h3>
<div class="ms-3">
    <p>
        Starting OpenTabletDriver at login can be performed quite easily. This can be done for nearly any
        program, although there may be better ways to do it for those programs.
    </p>
    <ol>
        <li>Right click <code>OpenTabletDriver.UX.Wpf.exe</code> and create a shortcut.</li>
        <li>Press <kbd>Win</kbd> + <kbd>R</kbd> and type in <code>shell:startup</code></li>
        <li>Move the shortcut into the folder that opened.</li>
    </ol>
    <p>
       Starting OpenTabletDriver minimised can also be done by changing the properties of a shortcut.
       To do this, right click the OpenTabletDriver shortcut, go to properties > run > minimised.
    </p>
</div>

<hr/>

<h3 class="wiki-nav-item pb-2" id="uac">
    OpenTabletDriver gives an Administrator warning
</h3>
<div class="ms-3">
    <p>
        When Starting OpenTabletDriver you may get an error warning you about Administrator Permissions. OpenTabletDriver 
        shouldn't be run as Administrator. This causes the plugin manager, FAQ page and Tablet debugger to not work along with 
        other features.
    </p>
    <ol>
        <li>Press the Windows key and search<code> User Account Control</code>.</li>
        <li>Move the slider to one of the top 2 options.</li>
        <li>Click OK, then restart your computer.</li>
    </ol>
    <p>
        If this does not solve the issue, check that you are not using the "Administrator" named account as it overrides User Account
        Control.
    </p>
</div>

<hr/>

<h3 class="wiki-nav-item pb-2" id="rtss">
    Blank window or crashing when opening OpenTabletDriver
</h3>
<div class="ms-3">
    <p>
        This can be caused by RivaTuner Statistics Server attempting to hook onto OpenTabletDriver, preventing the UX
        from responding due to failed hooks. If you use this application, make sure it doesn't hook onto OpenTabletDriver.
    </p>
    <ol>
        <li>Open RivaTuner Statistics Server.</li>
        <li> Click on Add button found in the bottom left corner.</li>
        <li>Locate OpenTabletDriver.UX.Wpf.exe on your computer then select it. Refer <a href="/Wiki/FAQ/General#appdata">here</a> for more information.</li>
        <li>Click on Application Detection Level then select "None".</li>
    </ol>
</div>

<hr/>

<h3 class="wiki-nav-item pb-2" id="vmulti">
    Using VMulti to play Valorant
</h3>
<div class="ms-3">
    <p>
    Vanguard (Valorants anticheat) requires a workaround to play Valorant with a tablet. As it requires Kernel level input
    you can use VMulti to mitigate some of the restrictions that Vanguard uses to stop tablet use. However, there will still be some restrcitions due
    to you not playing with a physical mouse.
    </p>
    <ol>
        <li>Install <a href="https://github.com/X9VoiD/vmulti-bin/releases/latest">VMulti Driver</a></li>
        <li>Install and setup the <a href="https://github.com/X9VoiD/VoiDPlugins/wiki/VMultiMode">VMultiMode</a> plugin.</li>
        <li>Run Valorant by <b>tapping with your tablet</b> (Important due to Valorant only using the first "mouse" input)</li>
        <li><b>Do not</b> move your mouse while valorant is still loading (this will make valorant use the mouse over the tablet.)</li>
    </ol>
    <p>
        <u>Vanguard Quirks:</u>
        <br>
        As VMulti is considered a separate input source from an actual physical mouse, Vanguard imposes several limitations to it.
    </p>
    <ol>
        <li>You won't be able to press left click while pressing a non-modifier keyboard key (for ex. WASD) and shift, we will call these keys from here onward as <i>protected keys.</i></li>
        <li>Every time you press a protected key, the next two left clicks will <i>always</i> be dropped.</li>
        <li>If left click is held first and then a protected key is pressed, the left click will <i>sometimes</i> be dropped.</li>
    </ol>
    <p>
        There is <b>no</b> fix this, as even Logitech G Hub, Razer Synapse, HawkuTD, DevocubTD, and even XP-Pen, Huion, Gaomon, Veikk drivers are affected without exceptions.
        <b>As long as the input source is not a real physical mouse, Vanguard will impose such quirks <u>intentionally.</u></b>
    </p>
</div>