@{
    ViewBag.Title = "Windows FAQ";
}

<h3 class="wiki-nav-item pb-2" id="tablet-not-detected">
    My tablet is not detected?
</h3>
<div class="ms-3">
    <p>
        Please check that your tablet is actually plugged in to your PC. Windows by default will indicate when a device is plugged in
        with a sound.<br/> If you do not get this sound consider replacing the cable (make sure the cable supports both power and data
        transfer).<br/><br/>

        Once you are sure that your tablet is connected to your computer, ensure that your specific tablet make and model is supported by checking our list of supported tablets <a href="/Tablets">here</a>.<br/>
        We currently do not support tablets that connect directly to a computer via bluetooth, and have limited support for ones that use wireless USB receivers, so please make sure your tablet is connected via cable.
    </p>
    <h4>It is a supported tablet, but still doesn't detect?</h4>
    <p>
        Please make sure that you have no other tablet drivers on the system. To ensure your system is clean, follow the instructions for our <a href="https://github.com/X9VoiD/TabletDriverCleanup/releases/latest">Tablet Driver Cleanup Utility</a>, then resume here.<br><br>

        Please check if your tablet requires WinUSB <a href="/Tablets">here</a> (it will say in the notes). If it does, follow the<br>
        <a href="/Wiki/Install/Windows#winusb">instructions</a> and return here. Continue below for troubleshooting instructions if your tablet still isn't detected.<br/><br/>

        If you are running OpenTabletDriver.UX, navigate from the top to the Console tab, if you are running the daemon standalone, look for a log that resembles the following:<br/>

    <h5>Tablet driver interefence</h5>

        <codeblock class="mt-2", language="sh">
            Another tablet driver found: &lt;name&gt;
        </codeblock>
        If you see this log message you should follow the instructions for <a href="https://github.com/X9VoiD/TabletDriverCleanup/releases/latest">TabletDriverCleanup</a>
        if you haven't already, making sure to say yes to everything. If the log entry is still there after following the instructions and restarting OTD, try
        joining our support <a href="/Discord">Discord</a> for further help.<br/>

    <h5>Invalid WinUSB driver installation state.</h5>
        <codeblock class="mt-2", language="sh">
            Failed to open file handle to WinUSB interface
            SafeHandle cannot be null. (Parameter 'pHandle')
        </codeblock>
        This is usually resolved when you restart your PC.<br/><br/>

        If nothing above applies, remove <code>%localappdata%/OpenTabletDriver</code> or the contents of the <code>userdata</code> folder next to the binaries (if applicable).<br/>
        If you still need more help after this, join our Discord and give us a shout in the <code>#support-windows</code> channel, mentioning what you have tried.
    </p>

    <h4>It is not a supported tablet, what can I do about that?</h4>
    <p>
        If you want to add support for your tablet on your own, feel free to look at a similar configuration on our GitHub and our configuration documentation.<br/>
        If you would like help with supporting your tablet, or would prefer us to do it, join our <a href="/Discord">Discord</a> and create a post in <code>#config-creation</code> or a support channel.
    </p>
</div>

<hr/>

<h3 class="wiki-nav-item pb-2" id="tablet-not-functioning-correctly">
    My tablet is detected, but my settings don't work.
</h3>
<div class="ms-3">
    <p>
        If your area/bindings are not working correctly despite detection, try following our troubleshooting steps below.<br/><br/>

        Make sure that you have saved your settings by pressing the save button in the bottom right of the OpenTabletDriver interface.<br/><br/>

        If you have done the above and your settings still do not apply then make sure that you don't have other drivers installed on your computer,
        you can remove these by running and following the instructions for <a href="https://github.com/X9VoiD/TabletDriverCleanup/releases/latest">TabletDriverCleanup</a>,
        come back here.<br/><br/>

        If your cursor is teleporting you usually have another driver installed or you have broken settings, you can resolve the former by following the former with
        <a href="https://github.com/X9VoiD/TabletDriverCleanup/releases/latest">TabletDriverCleanup</a> and you can solve the latter with
        <code>file > reset to defaults</code> and clicking save.<br/><br/>

        If the issue is still unresolved after trying the instructions above, please join our <a href="/Discord">Discord</a> for extra assistance.
    </p>
</div>

<hr/>

<h3 class="wiki-nav-item pb-2" id="osu-broken-input">
    My cursor doesn't function correctly in osu!
</h3>
<div class="ms-3">
    <p>
        Either disable <code>Raw Input</code> in the game settings entirely or disable <code>Map raw input to osu! window</code>
        in the ingame settings and make sure that sensitivity is set to 1x.<br/>
        <p class="text-muted">
            Note: OpenTabletDriver has since v0.4.0 supported Raw Input as it uses the Windows SendInput API to position the cursor.
            Therefore, it is not necessary to disable raw input itself, but it provides no merit on tablets to have it enabled.
        </p>
    </p>
</div>

<hr/>

<h3 class="wiki-nav-item pb-2" id="win-ink">
    How do I get pressure support?
</h3>
<div class="ms-3">
    <p>
        You can get Windows Ink pressure support with the Windows Ink plugin that is accessible through the Plugin Manager. To use it, follow the instructions below.
    </p>
        <ol>
        <li>Install <a href="https://github.com/X9VoiD/vmulti-bin/releases/latest">VMulti Driver</a> (This is NOT VMultiMode) </li>
        <li>Follow the instructions from the <a href="https://github.com/X9VoiD/VoiDPlugins/wiki/WindowsInk">WindowsInk wiki</a></li>
        <li>Make sure that the application you are trying drawing in is set to WindowsInk/Windows 8+ Mode and the brush you are using has pressure support!</li>
    </ol>
    <p>
        If you already have a different installation of VMulti it is recommended that you first run
        <a href="https://github.com/X9VoiD/TabletDriverCleanup/releases/latest">TabletDriverCleanup</a> to avoid any potential conflicts.
    </p>
    <p class="text-muted">
        Note: Recently, a change in Windows made it so Windows Ink's and normal Mouse's cursor position is handled separately.
        This makes it so your cursor will appear to "jump" when switching from tablet to mouse while using Windows Ink output modes.
         This is not a bug of OpenTabletDriver but rather one of Windows.
    </p>
</div>

<hr/>

<h3 class="wiki-nav-item pb-2" id="userdata">
    What is convert_to_portable.bat?
</h3>
<div class="ms-3">
    <p>
        This file moves OpenTabletDriver's settings to a folder called <i>userdata</i> next to OpenTabletDriver itself
        rather than being stored in <i>%localappdata%\OpenTabletDriver</i>. This allows OpenTabletDriver to be completely portable,
        all in one folder.
    </p>
</div>

<hr/>

<h3 class="wiki-nav-item pb-2" id="connecting-to-daemon">
    It says it fails to connect to the daemon?
</h3>
<div class="ms-3">
    <p>
        This can be caused by a few different problems. Primarily, this will result from incorrectly following the <a href="/Wiki/Install/Windows">installation guide</a> on installation.<br/><br/>

        If you are sure that you have followed the installation guide correctly, or this issue just began occurring after an update to OTD, then it is likely that you have
        broken settings or outdated plugins installed. You can remedy this with the below.
    </p>
    <ol>
        <li>Press <kbd>Win</kbd> + <kbd>R</kbd> and type in <code>%localappdata%\OpenTabletDriver</code></li>
        <li>Delete or move the <code>settings.json</code> file from inside this folder.</li>
        <li>If this persists after also remove the <code>Plugins</code> folder.</li>
    </ol>
    <p>
        If you have a <code>userdata</code> folder next to the binaries of OpenTabletDriver, you will need to remove the files above from that folder instead.<br><br>

        If you still can't get it working after the solutions above please join our <a href="/Discord">Discord</a>.
        It might be a completely different issue!
    </p>
</div>

<hr/>

<h3 class="wiki-nav-item pb-2" id="startup">
    How do I make OTD start automatically when I boot my PC?
</h3>
<div class="ms-3">
    <p>
        Starting OpenTabletDriver at login can be performed quite easily. This can be done for nearly any
        program, although there may be better ways to do it for those programs.
    </p>
    <ol>
        <li>Right click <code>OpenTabletDriver.UX.Wpf.exe</code> and create a shortcut.</li>
        <li>Press <kbd>Win</kbd> + <kbd>R</kbd> and type in <code>shell:startup</code></li>
        <li>Move the shortcut into the folder that opened.</li>
    </ol>
    <p>
       Starting OpenTabletDriver minimised can also be done by changing the properties of a shortcut.
       To do this, right click the OpenTabletDriver shortcut, go to properties > run > minimised.
    </p>
</div>

<hr/>

<h3 class="wiki-nav-item pb-2" id="administrator">
    Plugin Manager won't open/I get a warning on startup?
</h3>
<div class="ms-3">
    <p>
        When Starting OpenTabletDriver you may get an error warning you about Administrator Permissions. OpenTabletDriver
        should NEVER be run as Administrator or with Administrator permissions. This causes the plugin manager, FAQ page, and Tablet debugger to not work, and can interfere with several
        other features.<br/><br>

        The following instructions should fix your issue under normal circumstances, but if you're using the (disabled in a fresh windows install by default) account called "Administrator",
        usually because you're using a "custom" iso (unofficial version of Windows, also sometimes referred to as a "debloated windows") install, these instructions will not work for you. We generally recommend against using altered or 3rd party versions of windows, as OTD is likely to not be the only software adversely affected by the changes these custom ISOs make.
    </p>
    <ol>
        <li>Press the Windows key and search<code> User Account Control</code>.</li>
        <li>Move the slider to one of the top 2 options.</li>
        <li>Click OK, then restart your computer.</li>
    </ol>
</div>

<hr/>

<h3 class="wiki-nav-item pb-2" id="rtss">
    Why is my interface completely blank?
</h3>
<div class="ms-3">
    <p>
        If you are experiencing random crashes with no warning, or the interface is completely blank and/or not accepting input, and you have RiverTuner Statistics Server
        installed, it may be hooking into OpenTabletDriver and preventing the UX from functioning correctly.
        If you use this application, make sure it doesn't hook onto OpenTabletDriver by blacklisting it in RiverTuner's settings.
    </p>
    <ol>
        <li>Open RivaTuner Statistics Server.</li>
        <li> Click on Add button found in the bottom left corner.</li>
        <li>Locate OpenTabletDriver.UX.Wpf.exe on your computer then select it. Refer <a href="/Wiki/FAQ/General#appdata">here</a> for more information.</li>
        <li>Click on Application Detection Level then select "None".</li>
    </ol>
</div>

<hr/>

<h3 class="wiki-nav-item pb-2" id="vmulti">
    Cursor doesn't move with Valorant open?
</h3>
<div class="ms-3">
    <p>
    Vanguard (Valorants anticheat) requires a workaround to play Valorant with a tablet. As it requires Kernel level input
    you can use VMulti to mitigate some of the restrictions that Vanguard uses to stop tablet use. However, there will still be some restrcitions due
    to you not playing with a physical mouse.
    </p>
    <ol>
        <li>Install <a href="https://github.com/X9VoiD/vmulti-bin/releases/latest">VMulti Driver</a></li>
        <li>Install and setup the <a href="https://github.com/X9VoiD/VoiDPlugins/wiki/VMultiMode">VMultiMode</a> plugin.</li>
        <li>Run Valorant by <b>tapping with your tablet</b> (Important due to Valorant only using the first "mouse" input)</li>
        <li><b>Do not</b> move your mouse while valorant is still loading (this will make valorant use the mouse over the tablet.)</li>
    </ol>
    <p>
        <u>Vanguard Quirks:</u>
        <br>
        As VMulti is considered a separate input source from an actual physical mouse, Vanguard imposes several limitations to it.
    </p>
    <ol>
        <li>You won't be able to press left click while pressing a non-modifier keyboard key (for ex. WASD) and shift, we will call these keys from here onward as <i>protected keys.</i></li>
        <li>Every time you press a protected key, the next two left clicks will <i>always</i> be dropped.</li>
        <li>If left click is held first and then a protected key is pressed, the left click will <i>sometimes</i> be dropped.</li>
    </ol>
    <p>
        There is <b>no</b> fix this, as even Logitech G Hub, Razer Synapse, HawkuTD, DevocubTD, and even XP-Pen, Huion, Gaomon, Veikk drivers are affected without exceptions.
        <b>As long as the input source is not a real physical mouse, Vanguard will impose such quirks <u>intentionally.</u></b>
    </p>
</div>

