@{
    ViewBag.Title = "Windows FAQ";
}

<h3 class="wiki-nav-item pb-2" id="uclogic-supported-undetected">
    Supported tablet not detected
</h3>
<div class="ms-3">
    <p>
        This is most commonly the result of manufacturer driver leftovers.<br/>
    </p>
    <ol>
        <li>
            Uninstall any tablet drivers that are currently installed.<br/>
            <em class="ms-3 text-danger">
                Deleting files is not a proper method to uninstall drivers,
                <strong>it will cause issues</strong>.
                Use the <strong>Settings</strong> app or <strong>Control Panel</strong> instead.
            </em>
        </li>
        <li>
            Use the <a href="https://github.com/X9VoiD/WinUSBCleanup/releases/latest">WinUSBCleanup</a>
            script to automatically clean up any leftovers that uninstallers failed to clean up.
        </li>
    </ol>
</div>

<hr/>

<h3 class="wiki-nav-item pb-2" id="map-raw-input">
    Input does not work in osu!
</h3>
<div class="ms-3">
    <p>
        OpenTabletDriver uses the Windows SendInput API to position the cursor from user level permissions.<br/>
        It does not move the cursor in a method that raw input accepts as standard cursor movement.
    </p>
    <ol>
        <li>Disable <code>Map raw input to osu! window</code> in the ingame settings.</li>
    </ol>
</div>

<hr/>

<h3 class="wiki-nav-item pb-2" id="startup">
    Open at startup
</h3>
<div class="ms-3">
    <p>
        Starting OpenTabletDriver at login can be performed quite easily. This can be done for nearly any
        program, although there may be better ways to do it for those programs.
    </p>
    <ol>
        <li>Right click <code>OpenTabletDriver.UX.Wpf.exe</code> and create a shortcut.</li>
        <li>Press <kbd>Win</kbd> + <kbd>R</kbd> and type in <code>shell:startup</code></li>
        <li>Move the shortcut into the folder that opened.</li>
    </ol>
    <p>
       Starting OpenTabletDriver minimised can also be done by changing the properties of a shortcut.
       To do this, right click the OpenTabletDriver shortcut, go to properties > run > minimised.
    </p>
</div>

<hr/>

<h3 class="wiki-nav-item pb-2" id="uac">
    OpenTabletDriver gives an Administrator warning
</h3>
<div class="ms-3">
    <p>
        When Starting OpenTabletDriver you may get an error warning you about Administrator Permissions. OpenTabletDriver 
        shouldn't be run as Administrator. This causes the plugin manager, FAQ page and Tablet debugger to not work along with 
        other features.
    </p>
    <ol>
        <li>Press the Windows key and search<code> User Account Control</code>.</li>
        <li>Move the slider to one of the top 2 options.</li>
        <li>Click OK, then restart your computer.</li>
    </ol>
    <p>
        If this does not solve the issue, check that you are not using the "Administrator" named account as it overrides User Account
        Control.
    </p>
</div>

<hr/>

<h3 class="wiki-nav-item pb-2" id="rtss">
    Blank window or crashing when opening OpenTabletDriver
</h3>
<div class="ms-3">
    <p>
        This can be caused by RivaTuner Statistics Server attempting to hook onto OpenTabletDriver, preventing the UX
        from responding due to failed hooks. If you use this application, make sure it doesn't hook onto OpenTabletDriver.
    </p>
    <ol>
        <li>Open RivaTuner Statistics Server.</li>
        <li> Click on Add button found in the bottom left corner.</li>
        <li>Locate OpenTabletDriver.UX.Wpf.exe on your computer then select it. Refer <a href="/Wiki/FAQ/General#appdata">here</a> for more information.</li>
        <li>Click on Application Detection Level then select "None".</li>
    </ol>
</div>