@{
    ViewBag.Title = "Linux Installation Guide";
}

<h3 class="wiki-nav-item" id="debian">
    Ubuntu / Debian
</h3>
<ol>
    <li>
        Download the
        <a href="/Release/Download/OpenTabletDriver.deb">latest release</a>
        <small class="text-muted">(OpenTabletDriver.deb)</small>
    </li>
    <li>
        Download the <a href="https://packages.microsoft.com/config/">Microsoft repository package</a>
        <small class="text-muted">(packages-microsoft-prod.deb)</small>
        for your distribution
    </li>
    <li>
        Run the following commands in a terminal<br/>
        <small class="ms-3 text-muted">
            This assumes that you are in the directory in which you download these files to.
        </small>
        <codeblock class="mt-2" language="bash">
            # Add the Microsoft Packages repository, use the URL related to your distribution
            sudo dpkg -i packages-microsoft-prod.deb

            # Install the .NET runtime
            sudo apt update
            sudo apt install -y apt-transport-https
            sudo apt update
            sudo apt install -y dotnet-sdk-6.0

            # This will install the package, assuming you are in the correct directory
            sudo apt install ./OpenTabletDriver.deb

            # Reload the systemd user unit daemon
            systemctl --user daemon-reload

            # Enable and start the user service
            systemctl --user enable opentabletdriver --now
        </codeblock>
    </li>
</ol>

<hr/>

<h3 class="wiki-nav-item" id="arch">
    Arch Linux
</h3>
<ol>
    <li>
        Use an <a href="https://wiki.archlinux.org/title/AUR_helpers">AUR helper</a> to install the <code>opentabletdriver</code> AUR package.
    </li>
    <li>
        Run the following commands in a terminal
        <codeblock class="mt-2" language="bash">
            # Reload the systemd user unit daemon
            systemctl --user daemon-reload
            # Enable and start the user service
            systemctl --user enable opentabletdriver --now
        </codeblock>
    </li>
</ol>

<ol>
    <p>
        Alternatively, you can install <code>opentabletdriver</code> without an AUR helper.
    </p>
    <li>
        Run the following commands in a terminal to install and enable the OpenTabletDriver service.
        <codeblock class="mt-2" language="bash">
            # Downloads the pkgbuild from the AUR.
            git clone https://aur.archlinux.org/opentabletdriver.git
            # Changes into the correct directory and installs OpenTabletDriver
            cd opentabletdriver && makepkg -si
            # Clean up leftovers
            cd ..
            rm -rf opentabletdriver
            # Reload the systemd user unit daemon
            systemctl --user daemon-reload
            # Enable and start the user service
            systemctl --user enable opentabletdriver --now
        </codeblock>
    </li>
</ol>

<hr/>

<h3 class="wiki-nav-item" id="gentoo">
    Gentoo
</h3>
<ol>
    <li>
        Add Guru overlay<br/>
        <small class="ms-3 text-muted">
            This is only required if you don't already have the Guru overlay configured
        </small>
        <codeblock class="mt-2" language="bash">
            # Enable guru repository
            sudo eselect repository enable guru
            sudo emerge --sync guru
        </codeblock>
    </li>
    <li>
        Edit <code>/etc/portage/package.accept_keywords</code> and add this line
        <codeblock class="mt-2">
            x11-drivers/OpenTabletDriver-bin ~amd64
        </codeblock>
    </li>
    <li>
        Run the following command
        <codeblock class="mt-2" language="bash">
            # Install the OpenTabletDriver package
            sudo emerge OpenTabletDriver-bin
        </codeblock>
    </li>
</ol>

<hr/>

<h3 class="wiki-nav-item" id="nixos">
    NixOS
</h3>
<ol>
    <li>
        Edit <code>/etc/nixos/configuration.nix</code> and add this in your configuration<br/>
        <small class="ms-3 text-muted">
            More configuration options can be found
            <a href="https://search.nixos.org/options?query=opentabletdriver">here</a>
        </small>
        <codeblock class="mt-2" language="nix">
            # Enable OpenTabletDriver
            hardware.opentabletdriver.enable = true;
        </codeblock>
    </li>
</ol>
<hr/>

<h3 class="wiki-nav-item" id="post-install">
    Post-Installation
</h3>
<p>You're advised to look at the console tab on OpenTabletDriver UX to catch any problems. If necessary, read through the <a href="/Wiki/FAQ/Linux">FAQ</a>.</p>
