@using OpenTabletDriver.Web.Core.Services
@inject IReleaseService releaseService

@{
    ViewBag.Title = "macOS Installation Guide";
    var release = await releaseService.GetLatestRelease();
    var assets = await release.GetReleaseAssets();
    var asset = assets.First(a => a.FileName.Contains("osx-x64"));
}

<h3 class="wiki-nav-item" id="app">
    App
</h3>
<ol>
    <li>
        Download the <a href="@asset.Url">latest release</a>
        <small class="text-muted">(OpenTabletDriver-osx-x64.tar.gz)</small>
    </li>
    <li>
        Extract it and drag <code>OpenTabletDriver.app</code> into your Applications folder
    </li>
    <li>
        Run the OpenTabletDriver app.
    </li>
</ol>

<hr/>

<h3 class="wiki-nav-item" id="post-install">
    Post-Installation
</h3>
<p>Take a look at the <a href="/Wiki/FAQ/MacOS">FAQ</a> if you encounter any problems.</p>