@{
    ViewBag.Title = "macOS Installation Guide";
}

<h3 class="wiki-nav-item" id="app">
    App
</h3>
<ol>
    <li>
        Download the
        <a href="/Release/Download/OpenTabletDriver.osx-x64.tar.gz">latest release</a>
        <small class="text-muted">(OpenTabletDriver-osx-x64.tar.gz)</small>
    </li>
    <li>
        Extract it and drag <code>OpenTabletDriver.app</code> into your Applications folder
    </li>
    <li>
        Run the OpenTabletDriver app.
    </li>
</ol>
