@using OpenTabletDriver.Web.Core.Services

@inject IReleaseService releaseService

@{
    ViewBag.Title = "Windows Installation Guide";
    var release = await releaseService.GetLatestRelease();
    var assets = await release.GetReleaseAssets();
    var winzip = assets.FirstOrDefault(a => a.FileName == "OpenTabletDriver.win-x64.zip")!;
}

<h3 class="wiki-nav-item" id="dependencies">
    Dependencies
</h3>
<ol>
    <li>
        Install the <a href="@Url.Action("Index", "Framework")">.NET 6 Desktop Runtime x64</a>
    </li>
</ol>

<p class="text-muted">
    If you were previously using the standalone installer/updater (before v0.6), it is highly suggested that you switch
    to the new method for installing OpenTabletDriver below.
</p>

<hr/>

<h3 class="wiki-nav-item" id="installation">
    Installation
</h3>
<div class="ms-3">
    <p>
        <small class="text-muted">
            Note: If you are upgrading from an older version of OpenTabletDriver, it is important that you do not
            install it on top of the old version and instead clean up the old directory or install it to its own
            directory.
        </small>
    </p>
    <ol>
        <li>
            Download the
            <a href="@(winzip.Url)">latest release</a>
            <small class="text-muted">(OpenTabletDriver-win-x64.zip)</small>
        </li>
        <li>
            Extract the downloaded file into a folder of its own<br/>
            <small class="ms-3 text-muted">
                Replace <code>&lt;username&gt;</code> with your username in this example
            </small>
            <codeblock class="mt-2">
                C:\Users\&lt;username&gt;\OpenTabletDriver
            </codeblock>
        </li>
        <li>
            Run <code>OpenTabletDriver.UX.Wpf.exe</code> in the extracted directory.<br/>
            <small class="ms-3 text-muted">
                Note: You can create a shortcut to this file, just make sure that the working directory points
                to the extracted directory.
            </small>
        </li>
    </ol>
</div>
