@using OpenTabletDriver.Web.Core.Contracts
@using OpenTabletDriver.Web.Utilities

@model IRelease

@{
    string title = $"OpenTabletDriver {Model.Tag}";
    string markdown = Model.Body.Replace(title, string.Empty);
}

<div class="card shadow-sm">
    <div class="card-header py-3 text-center">
        <h4 class="my-0 fw-normal align-middle">@title</h4>
    </div>
    <div class="card-body">
        @Markdown.Render(markdown)
    </div>
</div>